{{#extend "layout"}}
  {{> "partials/sidebar" }}
  <div class="content">
    {{> "partials/breadcrumbs" }}
    <div class="container">
      <h1 class="page__title">Birthday</h1>
      <div class="page__content">
        <div class="row">
          sdasdsad
					{{#each [1, 2, 3] as |item| }}
						<div class="col-md-4">
							dadsad
						</div>
					{{/each}}
        </div>
      </div>
    </div>
  </div>
{{/extend}}