{{#extend "layout"}}
<div class="content fullwidth">
{{> "partials/breadcrumbs" }}
<div class="page__content">
<div class="row">
<div class="col-sm-12">
<form action="/" style="width: 800px; margin: auto">
<div class="form-group first-child">
<div class="col-sm-12">

</div>
</div>

<div class="form-group row has-feedback">
<label class="col-sm-3">Your Name</label>
<div class="col-sm-6">
<input class="form-control input-sm" onkeypress="return noEnterKey(event)" type="text" name="fm_user_name" value="">
<span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
</div>
</div>

<div class="form-group row has-feedback">
<label class="col-sm-3">Your Email</label>
<div class="col-sm-6">
<input class="form-control input-sm" onkeypress="return noEnterKey(event)" type="text" name="fm_user_email" value="">
<span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
</div>
</div>

<div class="form-group row has-feedback">
<label class="col-sm-3">Select Department</label>
<div class="col-sm-6">
<select class="form-control input-sm" onkeypress="return noEnterKey(event)" name="fm_feedback_id" id="fm_feedback_id"><option value="1">Feedback</option>
<option value="2">Support</option>
<option value="3">Billing Question</option>
<option value="4">Request</option>
</select>
</div>
</div>

<div class="form-group row has-feedback">
<label class="col-sm-3">Subject</label>
<div class="col-sm-9">
<input class="form-control input-sm" onkeypress="return noEnterKey(event)" type="text" name="fm_subject" value="">
<span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
</div>
</div>

<div class="form-group row has-feedback">
<label class="col-sm-3">Message</label>
<div class="col-sm-9">
<textarea class="form-control input-sm" name="fm_message" rows="10" value=""></textarea>
<span class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
</div>
</div>

<div class="form-group row has-feedback">
<label class="col-sm-3"></label>
<div class="col-sm-5">
<button type="button" class="btn btn-default btn-my-site block fullwidth" onclick="SendFeedback();">
Submit
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
{{/extend}}