{{#extend "layout"}}
  <div class="content content-fullwidth">
    {{> "partials/breadcrumbs" }}
    <h1 class="page__title">Birthday</h1>
		<div class="page__content">
			<div class="row">
				
			</div>
		</div>
  </div>
{{/extend}}