// Variables
@import "base/variables";
@import "base/mixin";

// Reset
@import '~reset-css/reset.css';

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "base/base";
@import "layout/all";
@import "partial/all";
@import "element/all";
@import "page/all";

.container {
  padding: 0 40px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}


