// Variables
@import "base/variables";
@import "base/mixin";

// Reset
@import '~reset-css/reset.css';

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Plugins
@import "~sweetalert2/src/sweetalert2";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

@import "base/base";
@import "layout/all";
@import "partial/all";
@import "element/all";
@import "page/all";

/* Space out content a bit */
[v-cloak] {
  display: none;
}
.container {
  padding: 0 40px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}


