// Variables
@import "base/variables";
@import "base/mixin";
@import "layout/all";
@import "partial/all";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Plugins
@import "~sweetalert2/src/sweetalert2";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

[v-cloak] {
  display: none;
}


