.header {
  background: map-get($color, white);
  position: relative;
  z-index: 10;
  &.header--sticky {
    position: fixed;
    width: 100%;
    animation: scale-y .2s;
    animation-fill-mode: both;
    .header__main {
      height: $menu-size-min;
    }
    .header__logo {
      img {
        height: 40px;
      }
    }
    + .main {
      padding-top: 60px;
    }
  }
  &__main {
    height: $menu-size-max;
    box-sizing: border-box;
    border-bottom: 1px solid map-get($color, border);
    position: relative;
  }
  @include element('logo') {
    @include middle();
    left: $layout-space;
    width: $logo-size;
    z-index: 2;
    img {
      height: 50px;
      max-width: $logo-size;
    }
  }
  @include element('menu') {
    height: $menu-size-min;
    width: 100%;
    z-index: 1;
  }
  @include element('toolbars') {
    @include middle();
    right: $layout-space;
    z-index: 2;
  }
  .toolbar {
    text-align: right;
    font-size: 0;
    margin: 0;
    @include element('item') {
      display: inline-block;
    }
  }
}