.main {
  .sidebar {
    background: map-get($color, accent);
    padding: 50px 40px;
    box-sizing: border-box;
    float: left;
    width: $sidebar-width;
  }
  .content {
    background: map-get($color, white);
    padding: 50px 40px;
    box-sizing: border-box;
    float: left;
    width: calc(100% - #{$sidebar-width});
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}