<ul class="breadcrumbs">
	<li class="breadcrumbs__item"><a href="./index.html"><i class="fa fa-home"></i></a></li>
	<li class="breadcrumbs__item"><a href="./category.html">Category</a></li>
	<li class="breadcrumbs__item"><span>Daniel Wellington</span></li>
</ul>