<div id="ec-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Box food love pralines</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img style="max-width: 100%; margin: auto" src="https://ecardmax.com/ecardmaxdemo/index.php?step=watermark&amp;ec_id=255&amp;" alt="" width="640" height="auto">
      </div>
    </div>
  </div>
</div>