<footer class="footer">
  <div class="footer-content container">
    <div class="row">
      <div class="col-md-2">
        <a href="/">
          <img class="img-white" src="./images/logo.png" alt="Shop">
        </a>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-4">
            <ul>
              {{#each contact_us}}
                <li><a href="#">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              {{#each help}}
                <li><a href="#">{{this}}</a></li>
              {{/each}}
            </ul>
          </div>
          <div class="col-md-4">
            <ul>
              <li>
                <i class="fa fa-calendar"></i> <strong> Aug 11st</strong>
                <a href="#" class="footer__link block" >Up to 60% off</a>
              </li>
              <li>
                <i class="fa fa-calendar"></i> <strong>  Aug 28th</strong>
                <a href="#" class="footer__link block" >+ Free Shipping, Extra 15 percent or 10 percent</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer__widget">
          <h5 class="footer__title">Newsletter Signup</h5>
          <div class="footer__description">
              Get the most recent updates from our site and be updated your self...</div>
          <form name="ecardmax_newsletter2" method="post" action="#" class="form-single">
            <input class="form-control" type="text" name="list_email" placeholder="Your Email">
            <button type="button" class="btn btn-default">Subscribe!</button>
          </form>
        </div>
        <div class="footer__social">
          <ul class="social">
            <li class="social__item">
              <a class="btn-circle btn-circle--facebook" href="#"></a>
            </li>
            <li class="social__item">
              <a class="btn-circle btn-circle--twitter" href="#"></a>
            </li>
            <li class="social__item">
              <a class="btn-circle btn-circle--pinterest" href="#"></a>
            </li>
            <li class="social__item">
              <a class="btn-circle btn-circle--google" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <a class="link--secondary" href="#">Copyright © 2018, FRONTEND</a>
      </div>
    </div>
  </div>
</footer>