<header class="js-header header">
  <div class="header__main">
    <div class="header__logo">
      <a href="./index.html">
        <img src="./images/logo.png" alt="Shop">
      </a>
    </div>
    {{> "menu"}}
    <div class="header__toolbars">
      <ul class="toolbar">
        <li class="toolbar__item">
          <a class="btn-circle btn-circle--signup" href="#"></a>
        </li>
        <li class="toolbar__item">
          <a class="btn-circle btn-circle--signin" href="#"></a>
        </li>
        <li class="toolbar__item">
          <a class="btn-circle btn-circle--language" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</header>