<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="header__logo">
          <img src="./images/logo.png" alt="eCardMAX">
        </div>
        <div class="header__toolbars">
          <ul class="toolbar">
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--search" href="#"></a>
            </li>
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--signup" href="#"></a>
            </li>
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--signin" href="#"></a>
            </li>
            <li class="toolbar__item">
              <a class="btn-circle btn-circle--language" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{> "menu"}}
</header>