<div class="header__menu">
  <nav class="menu-container">
    <ul class="menu">
      <li>
        <a class="menu__link--l1 " href="./index.html">Home</a>
      </li>
      <li>
        <a class="menu__link--l1" class="" href="./category.html">Categories</a>
        <ul class="menu__child--l1">
          {{#each categories as |cat key|}}
            <li>
              <a href="./category.html">{{cat.name}}</a>
              {{#if cat.child}}
                <ul>
                  {{#each cat.child as |sub key|}}
                    <li>
                      <a href="./category.html">{{sub.name}}</a>
                    </li>
                  {{/each}}
                </ul>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </li>
      <li>
        <a class="menu__child--l1" href="./index.html">Featured</a>
      </li>
      <li>
        <a class="menu__child--l1" href="./index.html">Top-Rated</a></li>
      <li>
        <a class="menu__child--l1" href="./index.html">Contact</a></li>
    </ul>
  </nav>
</div>