<aside class="sidebar">
  <div class="sidebar__content">
		<h3>Categories</h3>
		<ul id="js-slicknav" class="categories">
			<li class="categories__item">
				<a href="./category.html">Birthday</a>
				<i class="fa fa-next"></i>
				<ul class="categories__child">
					<li>
						<a href="./category_c.html">General</a>
					</li>
					<li>
						<a href="./category_c.html">Cute</a>
					</li>
				</ul>
			</li>
			<li class="categories__item">
				<a href="./category.html">Love</a>
				<i class="fa fa-next"></i>
				<ul class="categories__child">
					<li>
						<a href="./category_c.html">Forever Love</a>
					</li>
					<li>
						<a href="./category_c.html">I love You</a>
					</li>
					<li>
						<a href="./category_c.html">Send a Kiss</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</aside>