<aside class="sidebar">
	{{#each data}}
		<div>alo alo</div>
	{{/each}}
  <div class="sidebar__content">
		<h3>Shop By Brand</h3>
		<ul id="js-slicknav" class="category">
			{{#each categories as |cat key|}}
				<li class="category__item {{cat.active}} category__item--{{cat.has_child}}">
					<a href="./category.html">{{cat.name}}</a>
					{{#if cat.child}}
						<ul class="category__child">
							{{#each cat.child as |sub key|}}
								<li>
									<a href="./category.html">{{sub.name}}</a>
								</li>
							{{/each}}
						</ul>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</div>
</aside>