<aside class="sidebar">
	{{#each data}}
		<div>alo alo</div>
	{{/each}}
  <div class="sidebar__content">
		<h3>Category</h3>
		<ul id="js-slicknav" class="category">
			<li class="category__item">
				<a href="./category_c.html">Wedding Invitations</a>
			</li>
			<li class="category__item active">
				<a href="./category_c.html">I love You</a>
			</li>
			<li class="category__item category__item--has-child">
				<a href="./category.html">Birthday</a>
				<ul class="category__child">
					<li>
						<a href="./category_c.html">General</a>
					</li>
					<li>
						<a href="./category_c.html">Cute</a>
					</li>
				</ul>
			</li>
			<li class="category__item category__item--has-child">
				<a href="./category.html">Love</a>
				<ul class="category__child">
					<li>
						<a href="./category_c.html">Forever Love</a>
					</li>
					<li class="active">
						<a href="./category_c.html">I love You</a>
					</li>
					<li>
						<a href="./category_c.html">Send a Kiss</a>
					</li>
				</ul>
			</li>
			<li class="category__item">
				<a href="./category_c.html">Forever Love</a>
			</li>
			<li class="category__item">
				<a href="./category_c.html">I love You</a>
			</li>
			<li class="category__item">
				<a href="./category_c.html">Send a Kiss</a>
			</li>
		</ul>
	</div>
</aside>