a {
  font-size: 0.85em;
  color: map-get($color, b);
  &:hover {
    text-decoration: none;
    color: map-get($color, primary);
  }
}
.link--secondary {
  color: map-get($color , b) !important;
  &:hover {
    color: map-get($color, white) !important;
  }
}
.link--primary {
  color: map-get($color , primary) !important;
  &:hover {
    color: map-get($color, secondary) !important;
  }
}
.img-white {
  filter: brightness(0) invert(1);
}
.block {
  display: block !important;
}
.btn-circle {
  display: inline-block;
  @include btncircle();
  margin: 0 4px;
}
.label {
  display: inline-block;
  background: map-get($color, primary);
  padding: 2px 8px;
}
.page__title {
  margin: 40px 0;
}
.fullwidth {
  width: 100% !important;
}
.no-border {
  border: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.btn-ecardmax,
.btn-my-site {
  background: map-get($color, primary);
  color: map-get($color, white);
}
img {
  max-width: 100%;
}
body {
  background: map-get($color, accent);
  color: map-get($color, text);
  font-size: 16px;
}