// Fonts
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

// Slick
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

$slick-arrow-color: black;
$slick-dot-color: black;

$color: (
  border-color: #ebebeb,
  primary: #f18048,
  secondary: #FF0,
  accent: #f5f5f5,
  b: #777777,
  white: #ffffff,
  a: #b7b7b7,
  text: #333333
);

$fa-icon: (
  search: \1233,
  user: \1233,
  language: \1234
)
