// Fonts
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

// Slick
$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

$slick-arrow-color: black;
$slick-dot-color: black;

$layout-space: 40px;
$sidebar-width: 360px;
$logo-size: 180px;
$menu-size-max: 80px;
$menu-size-min: 60px;

$color: (
  border: #ebebeb,
  primary: #f18048,
  secondary: #FF0,
  accent: #f5f5f5,
  text: #333333,
  white: #ffffff,
  a: #b7b7b7,
  b: #777777,
  c: #161616
);

$fa-icon: (
  search: "\f002",
  user: "\1233",
  language: "\f1ab",
  preview: "\f04b",
  lock: "\f023",
  unlock: "\f007",
  share: "\f1e0",
  facebook: "\f09a",
  twitter: "\f099",
  pinterest: "\f231",
  google: "\f0d5",
  linkedin: "\f0e1",
  check: "\f00c",
  member: "\f235",
  post: "\f03e",
  signin: "\f090",
  signout: "\f08b",
  signup: "\f234",
  detail: "\f06e",
  favorite: "\f004",
  next: "\f054",
  prev: "\f053",
  bars: "\f0c9",
  angle-right: "\f105",
  angle-down: "\f107",
  buy: "\f07a",
  favious: "\f004",
  chat:"\f0e6"
);
